html, body {
    height: 95%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;

}


.bgg { 
    background-image: url('images/background.jpg') ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: -32px;
    /* filter: blur(5px);
    -webkit-filter: blur(5px); */
}

.menu {
    background-image: url('images/menu.jpg') ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size:74% 84%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.blurred{
    background-image: url('images/background.jpg') ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: -32px;
    filter: blur(5px);
    -webkit-filter: blur(5px); 
}

h1.header{
    display: inline;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 300%;
    z-index: 2;
}

p.intro{
    color: rgb(255, 255, 255);
    font-size: 350%;
    vertical-align: middle;
    text-align: center;
    margin-top: 7%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}

.color{
    height: 150px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.6;
    margin-top: 4%;
}
.colorless{
    height: 150px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    margin-top: 4%;
}

.tab-bar{
    height: 40px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
}

.btnNav{
    float: right;
}

.contact {
    height: 78%;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 1;
    margin-top: 10%;
}

.contact1 {
    text-align: center;
    z-index: 2;
    margin-top: 2.5%;
}

.contact2{
    text-align: center;
    font-family: 'Birdseye', sans-serif;
}

.contact5{
    position: absolute;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin-top: 7%;
}


.contact7{
    position: absolute;
    text-align: right;
    position: fixed;
    left: 0;
    right: 0;
    margin-top: 7%;
    margin-right: 5%;
}

.contact3{
    position: absolute;
    text-align: left;
    position: fixed;
    left: 0;
    right: 0;
    margin-top: 7%;
    margin-left: 5%;
}

.contact4{
    position: absolute;
    margin-top: 12%;
    font-size: large;
    margin-left: 3%;
}

.contact6{
    position: absolute;
    margin-top: 12%;
    font-size: large;
    text-align: center;
    margin-left: 43.4%;
}

.contact8{
    position: absolute;
    margin-top: 12%;
    font-size: large;
    margin-left: 80%;
}